<div class="comment-content">
  <h4>{{ socialcomment.comment|safe }}</h4>
    <table>
      <tr>
        <td>
          <span class="username">
          <a href="{% url 'social_posts:for_user' username=socialcomment.user.username %}" class="clickable">
            @{{ socialcomment.user.username }}</a>
          </span>
        </td>
          <td>
            <time class="time">
            {{ socialcomment.commented_at }}
            </time>
          </td>
      </tr>
      <tr>
      </tr>
    </table>
</div>