<div class="comment-content">
    <h4>{{ socialcomment.comment|safe }}</h4>
        <table>
            <tr>
                <td>
                    <span class="username">
                    <a href="{% url 'social_posts:for_user' username=socialcomment.user.username %}">@{{ socialcomment.user.username }}</a>
                </span>
                </td>
                <td>
                    <time class="time">
                        {{ socialcomment.commented_at }}
                    </time>
                </td>
            </tr>
            <tr>
                {% if user.is_authenticated and user == socialcomment.user %}
                    <a href="{% url 'social_posts:social_comments:delete_comment' username=socialcomment.user.username pk=socialcomment.at_post.pk comment_pk=socialcomment.pk %}"
                       title="delete" class="btn-outline-primary">
                        <span class="text-danger" aria-hidden="true">Delete</span>
                    </a>
                {% endif %}
            </tr>
        </table>
</div>