body {
    background-image:
        url("https://c.pxhere.com/photos/7e/e2/star_milky_way_background_night_starry_sky_night_sky_space_texture-674008.jpg!d");
    /*background-color: #6032a8;*/
    padding-top: 50px;
}

.about-div {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 70%;

}

.info-div {
    background-color: blanchedalmond;
    float: right;
    flex-grow: 1;
    font-family: 'Architects Daughter', cursive;
}

.picture-div {
    flex-grow: 1;
    margin-top: 30px;
    margin-right: 10px;
}

#picture{
    border: 5px solid yellowgreen;
    border-radius: 50%;
    overflow: hidden;
}

span {
    font-family: 'Indie Flower', cursive;
}

.my-links img {
    height: 30px;
    background-color: transparent;
}

.my-links{
    width: 50%;
}

.project-list {
    width: 60%;

}

#myprojects .jumbotron {
    background-color: #5ad1d1;
    height: 300px;
}

#myprojects .jumbotron .project-link {

    text-align: right;
    margin-right: 1%;
    display: block;
}

.resize-carousel-button {
    width: 30px;
}