{% extends 'social/social_base.html' %}
{% load widget_tweaks %}
{% load bootstrap3 %}
{% block social_body %}
  <div class="container signup">
    <h1>Sign-up</h1>

    <form method="POST" class="signup-form">

      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
        {% bootstrap_field field show_help=False show_label=False field_class='clickable'%}
      {% endfor %}
      <input type="submit" class="btn-block btn-light clickable" value="Sign-up!">
    </form>
  </div>
  <br>
{% endblock %}