<div class="post media">
  <table>
    <tr>
      <td>
        <a href="{% url 'social_posts:single_post' username=socialpost.user.username pk=socialpost.pk %}">
          <h3>{{ socialpost.title|safe }}</h3>
          <h4>{{ socialpost.message|safe }}</h4>
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <div class="media-body">
          <h5 class="media-heading">
          <span class="username">
            <a href="{% url 'social_posts:for_user' username=socialpost.user.username %}">
              @{{ socialpost.user.username }}</a>
          </span>
          <time class="time">
            {{ socialpost.created_at }}
          </time>
          </h5>

          <div class="media-footer">
            {% if user.is_authenticated and socialpost.user == user %}
              <a href="{% url 'social_posts:delete_post' pk=socialpost.pk %}" id="delete" class="btn btn-simple">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                <span class="text-danger icon-label">Delete</span>
              </a>
            {% endif %}
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>