{% extends 'socialPosts/socialPosts_base.html' %}
{% load static %}

{% block prepost %}
  <div class="col-md-4">
    {% if request.user.is_authenticated %}
      <div class="card card-deck">
        <div class="content">
          <h5 class="title">Your groups</h5>
          <ul>
            {% for user_groups in get_user_groups %}
              <li class="group li-with-bullet">
                <a href="{% url 'social_groups:single_group' slug=group_members.socialgroup.slug %}"></a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    {% endif %}
    <div class="card card-with-shadow">
      <div class="content">
        <h5 class="title">All groups</h5>
        <ul>
          {% for other_group in get_other_groups %}
            <li class="group li-with-bullet">
              <a href="{% url 'social_groups:single_group' slug=other_group.slug %}"></a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block post_content %}
  <div class="col-md-8">
  {% for socialpost in socialpost_list %}
    {% include 'socialPosts/_post.html' %}
  {% endfor %}

  </div>
{% endblock %}