{% extends 'fake-base.html' %}
{% load static %}
{% block fake-body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>いらしゃい! いらしゃい！</h1>
            <p class="lead">This is a place where you can create and view entries which are validated using
                django's validator</p>
            <hr class="my-4">
            <p>Please click on Create to register new users</p>
            <p>Please click on View to check the user list</p>
        </div>
    </div>
{% endblock %}
