{% extends 'fake-base.html' %}
{% load static %}

{% block fake-body %}
    <div class="jumbotron">
        <h2>Hello~~</h2>
        <p class="lead">You can view the registered users here</p>
    </div>
    <ol>
        {% for usercredentials in usercredentials_list %}
            <br>
            <li>
                <ul>
                    <li>First name: {{ usercredentials.first_name }}</li>
                    <li>Last name: {{ usercredentials.last_name }}</li>
                    <li>Email: {{ usercredentials.email }}</li>
                </ul>
            </li>
        {% endfor %}
    </ol>
{% endblock %}